<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walab.oas.mappers.oas_mapper">

	<select id="form_list" resultType="com.walab.oas.DTO.Form">
	    	
			 	select Category.id as category_id, categoryName ,Form.id as id, formName,explanation,startDate,endDate from Category LEFT JOIN Form ON Category.id=Form.category_id 
			 	<include refid="search" />
			 
	</select>
	
	<select id="category_list" resultType="com.walab.oas.DTO.Category">
	    	<![CDATA[
			 	select id,categoryName from Category;
			 ]]> 
	</select>
	
	<select id="userlist" parameterType="int" resultType="com.walab.oas.DTO.Form">
		
			SELECT c.id,c.categoryName, c.formName, date_format(c.startDate, '%Y-%m-%d') as startDate,date_format(c.endDate, '%Y-%m-%d') as endDate,date_format(c.regDate, '%Y-%m-%d') as regDate,u.userName
			FROM (SELECT s.*,categoryName FROM (SELECT form_id, Result.user_id as user ,state_id,Result.regDate as registDate,Form.* FROM Result INNER JOIN Form ON Result.form_id=Form.id) as s  INNER JOIN Category ON s.category_id=Category.id) as c
			INNER join User as u
			ON (c.user_id = u.id) WHERE c.user=1
			<include refid="search" />
			ORDER BY c.id DESC 
			LIMIT #{pageStart}, #{perPageNum};
			
		</select>
	
	
	<!-- 총 게시글 수 -->
	<select id="countBoardList" resultType="Integer">
	  <![CDATA[
	      SELECT count(*)
	      FROM Form;
	  ]]>
	</select>
	
	<!-- 페이징 -->
	<!-- 페이징 적용 게시글 + 검색 -->
	<select id="adminlist" resultType="com.walab.oas.DTO.Form">
		
			SELECT c.id,c.categoryName, c.formName, date_format(c.startDate, '%Y-%m-%d') as startDate,date_format(c.endDate, '%Y-%m-%d') as endDate,date_format(c.regDate, '%Y-%m-%d') as regDate,u.userName
			FROM (SELECT Form.*,categoryName FROM Form INNER JOIN Category ON Form.category_id=Category.id) as c
			INNER join User as u
			ON (c.user_id = u.id)
			<include refid="search" />
			ORDER BY c.id DESC
			LIMIT #{pageStart}, #{perPageNum};
	
	</select>
	
	
	<!-- 삭제 : 상태값 -->
	<!-- <delete id="delete" parameterType="boardDTO">
	<![CDATA[
	  UPDATE b_board SET del_chk = 'Y'
	  WHERE num = #{num}
	]]>
	</delete> -->
	<!-- 페이징  -->
	
	<!-- 검색 -->
	<!-- 검색 대한 게시글 수 -->
	<select id="countArticle" resultType="int">
		SELECT count(*)
		FROM (SELECT Form.id,category_id,user_id,formName,explanation,url,Form.regDate,startDate,endDate,categoryName FROM Form INNER JOIN Category ON Form.category_id=Category.id) as c
		INNER JOIN User as u
		ON (c.user_id = u.id)
		<include refid="search" />

	</select>
	
	<!-- MyBatis 동적 sql -->
	<sql id="search">
		<choose>
			<when test="searchType == 'all'">
				AND (u.name LIKE CONCAT('%', #{keyword}, '%')
				OR c.formName LIKE CONCAT('%', #{keyword}, '%')
				OR c.categoryName LIKE CONCAT('%', #{keyword}, '%'))
			</when>
			<when test="searchType == 'writer'">
				AND u.name LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="searchType == 'formName'">
				AND c.formName LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="searchType == 'categoryName'">
				AND c.categoryName LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
	</sql>
	
	<!-- 선택한 Form 데이터 삭제하기 -->
   <delete id="deleteForm" parameterType="int">
    	delete from Form where id=#{formID};
   </delete>
   
   <!-- form 정보 가져오기  -->
	 <select id="formInfo" parameterType="int" resultType="com.walab.oas.DTO.Form">
	  <![CDATA[
			SELECT formName, explanation FROM Form WHERE id =#{formID};
	  ]]>
	</select> 
   
   <!-- field 정보 가져오기  -->
	 <select id="fieldInfo" parameterType="int" resultType="com.walab.oas.DTO.Field">
	  <![CDATA[
	      SELECT id, fieldName, fieldType, isEssential,fileName FROM Field WHERE form_id =#{formID};
	  ]]>
	</select> 
	
	<!-- item 정보 가져오기  -->
	 <select id="itemInfo" parameterType="int" resultType="com.walab.oas.DTO.Item">
	  <![CDATA[
	      SELECT content, isDefault FROM Item WHERE field_id=#{fieldID};
	  ]]>
	</select>
	
	<!-- default 상태 ID 가져오기  -->
	 <select id="getStateID" parameterType="int" resultType="Integer">
	  <![CDATA[
	      SELECT id FROM State WHERE form_id =#{formID} and isDefault = 1;
	  ]]>
	</select>
	
	<!-- result  id 생성  -->
   <insert id="createResultID" parameterType="com.walab.oas.DTO.Result">
    	INSERT INTO Result (form_id,user_id,state_id) VALUE (#{form_id}, #{user_id}, #{state_id});
    	
    	<selectKey keyProperty="id" resultType="Integer">
		    SELECT LAST_INSERT_ID()
		</selectKey>
    </insert>
    
    <!-- result  content  넣기   -->
   <insert id="inputContent" parameterType="com.walab.oas.DTO.Result_Content" >
    	INSERT INTO ResultContent (result_id,field_id,content) VALUE (#{result_id},#{field_id},#{content});
    </insert> 
    
    <!-- Form 관련 쿼리 정리 -->
   	<insert id="formCreate" parameterType="Form">
   		INSERT INTO `Form` (`category_id`,`user_id`,`formName`,`explanation`,`url`,`isAvailable`,`isUserEdit`,`plusPoint`,`minusPoint`,`startDate`,`endDate`) 
   		VALUES (#{category_id}, #{user_id}, #{formName}, #{explanation},#{url},#{isAvailable},#{isUserEdit},#{plusPoint},#{minusPoint},#{start},#{end})
   	</insert>
   	
   	<insert id="fieldCreate" parameterType ="Field">
   	INSERT INTO `Field` (`form_id`,`fieldType`,`fieldName`,`fileName`,`isEssential`,`key`) 
   	VALUES (#{form_id},#{fieldType},#{fieldName},NULL,#{isEssential},#{key});
   	
   	</insert>
   	
   	<insert id="itemCreate" parameterType = "Item">
   		INSERT INTO `Item`(`field_id`,`content`,`isDefault`) 
   		VALUES (#{field_id},#{content},#{isDefault});
   	</insert>
   	
   	<select id="getFormId" resultType="int">
		select id from Form where url = #{url};
	</select>
	
	 <select id="getFieldId" resultType="int">
		select id from Field where `key` = #{key};
	</select>
    
    

</mapper>