<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.walab.oas.mappers.oas_mapper">

	<!--Register -->
    <insert id="joinUser" parameterType="com.walab.oas.DTO.User">
    	<!-- insert into users (name, user_id, pwd, email_address, gender, phone_number, social) values("서인아","sia2650","seoina1324","21700355@handong.edu","여","010-1234-567",0) -->
    	 insert into User (userName,admin, email, studentId, department, major, grade, semester)

		 values(#{userName},2,#{email}, #{studentId},#{department}, #{major}, #{grade},#{semester})
    
    	 <selectKey keyProperty="id" resultType="Integer">
		    SELECT LAST_INSERT_ID()
		 </selectKey>
    </insert>

	<select id="form_list" resultType="com.walab.oas.DTO.Form">
	    	
			 	select Category.id as category_id, categoryName ,Form.id as id, formName,explanation,startDate,endDate from Category LEFT JOIN Form ON Category.id=Form.category_id 
			 	<include refid="search" />
			 
	</select>
	
	
	
	<select id="category_list" resultType="com.walab.oas.DTO.Category">
	    	<![CDATA[
			 	select id,categoryName from Category;
			 ]]> 
	</select>
	
	<select id="userlist" parameterType="int" resultType="com.walab.oas.DTO.Form">
		
			SELECT c.id,c.categoryName, c.formName, date_format(c.startDate, '%Y-%m-%d') as startDate,date_format(c.endDate, '%Y-%m-%d') as endDate,date_format(c.regDate, '%Y-%m-%d') as regDate,u.userName
			FROM (SELECT s.*,categoryName FROM (SELECT form_id, Result.user_id as user ,state_id,Result.regDate as registDate,Form.* FROM Result INNER JOIN Form ON Result.form_id=Form.id) as s  INNER JOIN Category ON s.category_id=Category.id) as c
			INNER join User as u
			ON (c.user_id = u.id) WHERE c.user=1
			<include refid="search" />
			ORDER BY c.id DESC 
			LIMIT #{pageStart}, #{perPageNum};
			
		</select>
	
	
	<!-- 총 게시글 수 -->
	<select id="countBoardList" resultType="Integer">
	  <![CDATA[
	      SELECT count(*)
	      FROM Form;
	  ]]>
	</select>
	
	<!-- 페이징 -->
	<!-- 페이징 적용 게시글 + 검색 -->
	<select id="adminlist" resultType="com.walab.oas.DTO.Form">
		
			SELECT c.id,c.categoryName, c.formName, date_format(c.startDate, '%Y-%m-%d') as startDate,date_format(c.endDate, '%Y-%m-%d') as endDate,date_format(c.regDate, '%Y-%m-%d') as regDate,u.userName
			FROM (SELECT Form.*,categoryName FROM Form INNER JOIN Category ON Form.category_id=Category.id) as c
			INNER join User as u
			ON (c.user_id = u.id)
			<include refid="search" />
			ORDER BY c.id DESC
			LIMIT #{pageStart}, #{perPageNum};
	
	</select>
	
	
	<!-- 삭제 : 상태값 -->
	<!-- <delete id="delete" parameterType="boardDTO">
	<![CDATA[
	  UPDATE b_board SET del_chk = 'Y'
	  WHERE num = #{num}
	]]>
	</delete> -->
	<!-- 페이징  -->
	
	<!-- 검색 -->
	<!-- 검색 대한 게시글 수 -->
	<select id="countArticle" resultType="int">
		SELECT count(*)
		FROM (SELECT Form.id,category_id,user_id,formName,explanation,url,Form.regDate,startDate,endDate,categoryName FROM Form INNER JOIN Category ON Form.category_id=Category.id) as c
		INNER JOIN User as u
		ON (c.user_id = u.id)
		<include refid="search" />

	</select>
	
	<!-- MyBatis 동적 sql -->
	<sql id="search">
		<choose>
			<when test="searchType == 'all'">
				AND (u.name LIKE CONCAT('%', #{keyword}, '%')
				OR c.formName LIKE CONCAT('%', #{keyword}, '%')
				OR c.categoryName LIKE CONCAT('%', #{keyword}, '%'))
			</when>
			<when test="searchType == 'writer'">
				AND u.name LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="searchType == 'formName'">
				AND c.formName LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<when test="searchType == 'categoryName'">
				AND c.categoryName LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
	</sql>
	
	<!-- 선택한 Form 데이터 삭제하기 -->
   <delete id="deleteForm" parameterType="int">
    	delete from Form where id=#{formID};
   </delete>
   
   <!-- 해당 폼 제출자 정보 리스트 -->
   <select id="submitterList" parameterType="int" resultType="com.walab.oas.DTO.Result">
   		<![CDATA[
			SELECT Result.id as id,userName,department,studentId,email,Result.regDate as regDate, state_id FROM Result INNER JOIN User on Result.user_id=User.id where form_id=1;
		]]> 
		<!-- SELECT Result.id as id,userName,department,studentId,email,Result.regDate as regDate, state_id FROM Result INNER JOIN User on Result.user_id=User.id where form_id=#{form_id}; -->
   </select>
   
   <!-- 해당 폼 상태 리스트 -->
   <select id="stateList" parameterType="int" resultType="com.walab.oas.DTO.State">
   		<![CDATA[
			SELECT * FROM State WHERE form_id=1; 
		]]> 
		<!-- SELECT * FROM State WHERE form_id=#{form_id}; -->
   </select>
   
   <!-- 해당 폼 상태 리스트 -->
   <update id="stateUpdate" parameterType="java.util.Map">
   		UPDATE Result SET state_id =#{stateID} WHERE id = #{resultID} ;
   </update>

</mapper>