	  #form_div{
        width: 100%;
        margin-top: 10px;
      }
      input, textarea, select{
      	height: 35px;
      	padding: 6px 12px;
      	font-size: 14px;
      	line-height: 1.4285;
      	color: #555;
      	border-radius: 4px;
      	border: 1px solid #ccc;
      	color: black;
      	font-weight: normal;
      	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
      .form_control{
      	background: red;
      }
      input[type="checkbox"]{
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 2px solid #bcbcbc;
		cursor: pointer;
	}
      select{
      	padding: 0;
      	height: 35px;
      	width: 200px;
      }
      label{
      	font-size: 14px;
      }
      .form{
        border-radius: 5px;
        margin: auto;
        margin-bottom: 20px;
        padding: 15px;
      }
      .title, .state, .field{
        width: 700px;
        height: auto;
        border: 1px solid grey;
      }
      .title input{
        margin-bottom: 10px;
      }
      .title input[type="text"]{
      	width: 300px;
      }
      textarea{
        width: 620px;
      }
      .field{
        height: auto;
      }
      .content input{
        width: 350px;
        margin-right: 10px;
      }
      input[type=radio], input[type=checkbox]{
        width: auto;
        vertical-align: middle;
      }
      .field_title{
        width: 350px;
        margin-bottom: 10px;
      }
      .button{
        width: 500px;
        text-align: center;
      }
      .remove{
        position: relative;
        float: right;
      }
      button .submit{
        width: 50px;
      }
      .add{
        display: none;
      }
      .content{
        margin-top: 10px;
      }
      #menu-bar{
        position: absolute;
        width: 50px;
        height: 100px;
        border-radius: 10px;
        right: calc( 50% - 350px - 50px - 35px);
        margin-right: 0px;
        top: 240px;
        text-align: center;
        font-size: 50px;
        background: #efefef;
        border: 1px solid #ccc;
      	line-height: 1.42857143;
      	text-align: center;
      	white-space: nowrap;
      	vertical-align: middle;
      }
      #add_p{
      	font-size: 50px; 
      	font-weight: normal; 
      	margin-top: 37px;
      }
      label.item{
        margin: 0px 15px;
       	margin-top: 5px;
      }
      .list_radio, .list_chxbox{
        margin-top: 10px;
      }
      .essential{
        color: #d13a34;
        font-weight: bold;
      }
      
      /* submit 모달 */
      #confirm_modal {
        display: none;
        width: 600px;
        padding: 30px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
      }
      #confirm_modal p{
        margin-top: 30px;
      	margin-bottom: 30px;
      	color: black;
      	font-weight: normal;
      }
      #confirm_modal .modal_close_btn {
        width: 50px;
        top: 10px;
        text-align: center;
        right: 10px;
      }
      .modal_title{
      	display: inline-block;
      	font-weight: bold;
      	width: 50px;
      }
      #preview_modal {
        display: none;
        width: 800px;
        padding: 30px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
      }
      
      
      button{
      	border: 1px solid #ccc;
      	border-radius: 4px;
      	font-size: 14px;
      	font-weight: 14px;
      	line-height: 1.42857143;
      	text-align: center;
      	white-space: nowrap;
      	vertical-align: middle;
      }
      #add_p{
      	font-size: 50px; 
      	font-weight: normal; 
      	margin-top: 37px;
      }
      .select2-container{
      	font-size: 14px;
      }
      .select2-selection__choice{
      	padding-left: 25px !important;
      }
      .select2-selection__choice__remove{
      	background-color: white !important;
      }
      
      /*  ---------------------------HR------------------------------*/
      
      	.input1002{
		display: block;
    width: 100%;
	float: left;
    background: transparent;
    font-family: NanumGothic;
	font-weight: 600;
	font-size: 18px;
	border-bottom: #333333 1px solid;
    color: black;
    line-height: 1.2;
    padding-right: 15px;
	padding-left: 5px;
	height: 40px;
	margin-bottom: 10px;
	}
	
	.textareaInput{

border: 1px solid black;
border-radius: 15px;
font-family: NanumGothic;
font-weight: 600;
font-size: 12px;
height:50px;
}
	

.inputs{

border: 1px solid black;
border-radius: 15px;
font-family: NanumGothic;
font-weight: 600;
font-size: 12px;
}

.optionAddB{


    padding: 0 20px;
    width: max-content;
    height: 30px;
    background-color: #333333;
    border-radius: 25px;
    font-family: NanumGothic;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    margin-left:5px;
}

 .minusB{


    padding: 0 20px;
    width: max-content;
    height: 20px;
    background-color: #333333;
    border-radius: 25px;
    font-family: NanumGothic;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    margin-left:5px;

}

