body{
	min-width:600px;
}

#form_div {
	width: 100%;
	margin-top: 10px;
}

input, textarea, select {
	height: 35px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4285;
	color: #555;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: black;
	font-weight: normal;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form_control {
	background: red;
}

input[type="checkbox"] {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

select {
	padding: 0;
	height: 35px;
	width: 200px;
}

label {
	font-size: 14px;
}

.form {
	border-radius: 5px;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
}

.title, .state, .field {
	width: 700px;
	height: auto;
	border: 1px solid grey;
}

.title input {
	margin-bottom: 10px;
}

.title input[type="text"] {
	width: 300px;
}

textarea {
	width: 620px;
}

.field {
	height: auto;
}

.content input {
	width: 350px;
	margin-right: 10px;
}

input[type=radio], input[type=checkbox] {
	width: auto;
	vertical-align: middle;
}

.field_title {
	width: 350px;
	margin-bottom: 10px;
}

.button {
	width: 500px;
	text-align: center;
}

.remove {
	position: relative;
	float: right;
}

button .submit {
	width: 50px;
}

.add {
	display: none;
}

.content {
	clear: both;
    border-bottom: 1px solid #e4e4e4;
	margin-top: 10px;
    padding-bottom: 12px;
    margin-bottom: 15px;
}




label.item {
	margin: 0px 15px;
	margin-top: 5px;
}

.list_radio, .list_chxbox {
	margin-top: 10px;
}

.essential {
	color: #d13a34;
	font-weight: bold;
}

/* submit 모달 */
#confirm_modal {
	display: none;
	width: 620px;
	padding: 30px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}

#confirm_modal p {
	margin-top: 30px;
	margin-bottom: 30px;
	color: black;
	font-weight: normal;
}

.modal_title {
	display: inline-block;
	font-weight: bold;
	width: 50px;
	font-size: 15px;
}

#preview_modal {
	display: none;
	width: 800px;
	margin-top: 3%;
	height: 80%;
	padding: 30px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
	overflow: auto;
}

button {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 14px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}


.select2-container {
	font-size: 14px;
}

.select2-selection__choice {
	padding-left: 25px !important;
}

.select2-selection__choice__remove {
	background-color: white !important;
}

/*  ---------------------------HR------------------------------*/



/* + 버튼 */

.wrap-contact100 #menu-bar {
	position: relative;
	width: 50px;
	height: 100px;
	border-radius: 10px;
	left: calc(100% + 25px);
	margin-right: 0px;
	top: 240px;
	text-align: center;
	font-size: 50px;
	background: #efefef;
	border: 1px solid #ccc;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}
#menu-bar #add_p {
	position: relative;
	top:50%;
	line-height: 0 !important;
	font-size: 50px;
	font-weight: normal;
	/* margin-top: 37px; */
}
.input1002 {
	display: block;
    width: 100%;
    float: left;
    font-family: NanumGothic;
    font-weight: 600;
    font-size: 18px;
    border-radius: 12px;
    margin-top: 10px;
    border: 1px solid #c9c9c9;
    /* border-bottom: #333333 1px solid; */
    color: black;
    line-height: 1.2;
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
    margin-bottom: 15px;
}

.addFieldFileLabel{
	float: left;
    padding: 6px 12px;
}

.addFieldFile{
	float: left;
    border: 1px solid #e2dede;
    font-weight: 600;
    border-radius: 10px;
}

.textareaInput {
	border: 1px solid black;
	border-radius: 15px;
	font-family: NanumGothic;
	font-weight: 600;
	font-size: 12px;
	height: 50px;
}

.inputs {
	border: 1px solid black;
	border-radius: 15px;
	font-family: NanumGothic;
	font-weight: 600;
	font-size: 12px;
}

.optionAddB {
	padding: 0 20px;
	width: max-content;
	height: 30px;
	background-color: #333333;
	border-radius: 25px;
	font-family: NanumGothic;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	margin-left: 5px;
}

.minusB {
	padding: 0 20px;
	width: max-content;
	height: 20px;
	background-color: #333333;
	border-radius: 25px;
	font-family: NanumGothic;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	line-height: 1.2;
	margin-left: 5px;
}

.optionCancleB {
	padding: 0 20px;
	width: max-content;
	height: 20px;
	background-color: #333333;
	border-radius: 25px;
	font-family: NanumGothic;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	margin-left: 5px;
}

/*-------- modal (HR)--------- */
#confirm_modal {
	font-family: NanumGothic;
	border-radius: 15px;
}

#modal_message {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

.modal_content {
	font-size: 15px;
	font-weight: 600;
	'
}

#link {
	background-color: #f4f1f1;
	border-radius: 10px;
	height: 30px;
	width: 250px;
}

#red_ck_link {
	border-radius: 10px;
	padding: 2px 10px;
	border: 3px solid #b0b0b0;
	font-weight: 600;
	margin-left: 7px;
}

#red_ck_link:hover {
	filter: brightness(50%);
}

.overlap_msg {
	font-size: 14px;
	font-weight: 700;
}

#modal_buttons {
	text-align: center;
}

.modal_bts {
	font-size: 15px;
	font-weight: 700;
	padding: 4px 16px;
	border-radius: 15px;
}

.modal_bts:hover {
	filter: brightness(50%);
}

#form_submit {
	border: 3px solid #84a684;
	background-color: #84a684;
}

.cancleB {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	background-color: #c66e6e;
	border-radius: 25px;
	font-family: NanumGothic;
	font-weight: 800; font-size : 16px;
	color: #fff;
	line-height: 1.0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	font-size: 16px
}

.cancleB:hover {
	filter: brightness(70%);
}

.formbts{
	border: none !important;
    padding: 0px !important;
}

#mypageB,#cancle{
	background-color: #7b7676;
}

#mypageB:hover, #cancle:hover {
	filter: brightness(70%);
}