@charset "UTF-8";

/* 전체   */
html, body {
	height: auto
}

main {
	margin: 2% 15%;
	height: 100%;
}

/* board1 */
.board1 {
	height: 280px;
	padding: 0 2%;
}

.board_image {
	display: block;
	width: 25%;
	height: 100%;
}

.board_image, .board_section {
	float: left;
}

.board2 {
	clear: both;
	height: auto;
}

.board_section {
	display: block;
	width: 73%;
	margin-left: 2%;
}

.title {
	text-align: center;
}

.title h2 {
	margin-top: 15px;
	font-size: 23px;
	font-weight: 800;
	font-family: NanumGothic;
}

.swLink {
	font-size: 50%;
	text-decoration: underline;
	text-underline-position: under;
}

.board_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title img {
	width: 40px;
	height: 40px;
	object-fit: contain;
	margin-right: 1.5%;
	margin-top: -1%;
}

/* 공지 테이블  */
.tablelist {
	margin-top: 4%;
	width: 100%;
}

.tablelist th {
	text-align: center;
}

#headTable {
	background-color: rgb(223, 223, 223);
}

td {
	line-height: 2;
	font-family: 'NanumGothic';
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}

.board_date {
	width: 30%;
}

@media screen and (max-width: 640px) and (min-width: 0px) {
	.tablelist {
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}
	table {
		width: auto;
	}
}

/* 검색 필터  */
.products .filters {
	width: 100%;
	padding-bottom: 2%;
	margin-bottom: 1%;
}

.ul_filters {
	padding: 3% 0;
	width: 100%;
}

#search_box .form-inline {
	margin-bottom: 1%;
}

.form-inline {
	width: fit-content;
}

#search_box .form-inline {
	position: relative;
	left: calc(50% - 89px);
}

#searchB {
	border: 1px solid #28a745;
}

/*--------------------*/
.discription {
	overflow: hidden;
	background-color: #f7f7f7;
}

.down-content p {
	height: 120px;
	border: #f7f7f7 1px solid;
	border-radius: 10px;
	padding: 2px 4px;
	color: black;
	font-family: NanumGothic;
	font-weight: 600;
}

@media ( min-width : 990px) {
	.leftDiv {
		left: 5%;
	}
}

.form {
	max-height: 20px;
	overflow: hidden;
}

.formLink {
	display: bolck;
	text-align: center;
	margin-bottom: 10px;
}

.formDate {
	margin-bottom: 2%;
}

.product-item .down-content h4 {
	margin-top: 40px;
	text-align: center;
}

.a.filled-button {
	font-weight: 600;
	padding: 10px;
}