@charset "UTF-8";

main {
	margin: 5%;
	font-family: NanumGothic;
}

/* page title */
#headTitle {
	display: block;
	margin-bottom: 50px;
}

#headTitle h2 {
	font-size: 30px;
	font-weight: 800;
	padding-bottom: 30px;
	border-bottom: 3px black solid;
}

#profileImg {
	width: 70px;
	height: 70px;
	float: left;
	position: relative;
	top: -20px;
	margin-right: 10px;
}

#settingsIcon {
	width: 35px;
	height: 35px;
}

/* search box CSS */
.filter_search {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	font-family: NanumGothic;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 3%;
}

.form-inline {
	width: max-content;
	margin-right: auto;
	margin-left: auto;
}

.submitB {
	height: 30px;
}

/* filter - select */
.filters {
	border: none;
}

.filters:focus {
	outline: none;
}

/* table  */
.item-row {
	position: relative !important;
	left: initial;
	top: initial;
}

thead {
	font-size: 17px;
	font-weight: 700;
	text-align: center;
}

tbody {
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}

/*  table button*/
.iconButton {
	margin-right: 7px;
	position: relative;
	height: 40px;
}

.iconButton .tooltiptext {
	visibility: hidden;
	width: 70px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	opacity: 0.7;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
}

.iconButton:hover .tooltiptext {
	visibility: visible;
}

.iconImg {
	width: 30px;
	height: 30px;
}

.applyB {
	border: 3px solid #ffd500;
}



/* content*/
#moreContent {
	margin-right: auto;
	margin-left: auto;
}

#stateB {
	float: right;
	font-family: NanumGothic;
	font-weight: 700;
	font-size: 12px;
	border: 3px solid #476347;
	border-radius: 10px;
	padding: 5px;
	background-color: white;
}

.formgroup input, button, select {
	height: 30px;
	font-family: NanumGothic;
	font-weight: 600;
}

.filterType {
	margin-left: 10px;
}

  .greenLetter{
     	color:green;
     }
     
     .blueLetter{
     	color: #080165;
     }
     
     .redLetter{
     	color:red;
     }